---
http_interactions:
- request:
    method: get
    uri: "<GIDS_URL>/v0/institutions/11902614"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4132951","type":"institutions","attributes":{"name":"PURDUE
        UNIVERSITY-MAIN CAMPUS","facility_code":"11902614","type":"PUBLIC","city":"WEST
        LAFAYETTE","state":"IN","zip":"47906","country":"USA","bah":1547.0,"cross":"243780","flight":false,"correspondence":false,"ope":"00182500","ope6":"01825","school_system_name":"Purdue
        University","school_system_code":118070,"alias":"Purdue-West Lafayette|Purdue|PU|Purdue-WL","highest_degree":4,"locale_type":"city","address_1":"101
        N Grant Street","address_2":"Purdue Memorial Union Rm 284","address_3":null,"student_count":633,"undergrad_enrollment":33495,"yr":true,"student_veteran":true,"student_veteran_link":"https://sites.google.com/site/purdueveterans/","poe":true,"eight_keys":true,"stem_offered":false,"dodmou":true,"sec_702":true,"vet_success_name":null,"vet_success_email":null,"credit_for_mil_training":false,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":false,"retention_rate_veteran_ba":0.944,"retention_all_students_ba":0.9154,"retention_rate_veteran_otb":null,"retention_all_students_otb":null,"persistance_rate_veteran_ba":0.944,"persistance_rate_veteran_otb":null,"graduation_rate_veteran":null,"graduation_rate_all_students":0.7945,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":55100.0,"repayment_rate_all_students":0.780933063,"avg_stu_loan_debt":19500.0,"calendar":"semesters","tuition_in_state":10002,"tuition_out_of_state":28804,"books":1210,"online_all":true,"p911_tuition_fees":null,"p911_recipients":null,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":"regional","accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"caution_flags":[],"complaints":{"facility_code":1,"financial_by_fac_code":1,"quality_by_fac_code":0,"refund_by_fac_code":0,"marketing_by_fac_code":0,"accreditation_by_fac_code":0,"degree_requirements_by_fac_code":0,"student_loans_by_fac_code":0,"grades_by_fac_code":0,"credit_transfer_by_fac_code":0,"credit_job_by_fac_code":null,"job_by_fac_code":0,"transcript_by_fac_code":0,"other_by_fac_code":0,"main_campus_roll_up":1,"financial_by_ope_id_do_not_sum":1,"quality_by_ope_id_do_not_sum":0,"refund_by_ope_id_do_not_sum":0,"marketing_by_ope_id_do_not_sum":0,"accreditation_by_ope_id_do_not_sum":0,"degree_requirements_by_ope_id_do_not_sum":0,"student_loans_by_ope_id_do_not_sum":0,"grades_by_ope_id_do_not_sum":0,"credit_transfer_by_ope_id_do_not_sum":0,"jobs_by_ope_id_do_not_sum":0,"transcript_by_ope_id_do_not_sum":0,"other_by_ope_id_do_not_sum":0},"school_closing":false,"school_closing_on":null,"school_closing_message":null,"yellow_ribbon_programs":[{"city":"West
        Lafayette","contribution_amount":"7000.0","country":"USA","degree_level":"All","division_professional_school":"All","facility_code":"11902614","institution_id":4132951,"insturl":"https://www.purdue.edu","number_of_students":50,"name_of_institution":"PURDUE
        UNIVERSITY-MAIN CAMPUS","state":"IN","street_address":"Hovde Hall of Administration610
        Purdue Mall"}],"independent_study":false,"priority_enrollment":true,"created_at":"2021-06-10T17:38:18.000Z","updated_at":"2021-06-10T17:38:18.000Z","physical_address_1":"101
        N Grant Street","physical_address_2":"Purdue Memorial Union Rm 284","physical_address_3":null,"physical_city":"WEST
        LAFAYETTE","physical_state":"IN","physical_country":"USA","online_only":false,"distance_learning":true,"dod_bah":1455,"physical_zip":"47906","parent_facility_code_id":null,"campus_type":"Y","vet_tec_provider":false,"preferred_provider":false,"stem_indicator":false,"facility_map":{"main":{"institution":{"id":4132951,"version":{"number":73,"created_at":"2021-06-10T17:38:18.796Z","preview":false},"institution_type_name":"PUBLIC","facility_code":"11902614","institution":"PURDUE
        UNIVERSITY-MAIN CAMPUS","city":"WEST LAFAYETTE","state":"IN","zip":"47906","country":"USA","flight":false,"correspondence":false,"bah":1547.0,"cross":"243780","ope":"00182500","ope6":"01825","insturl":"https://www.purdue.edu","vet_tuition_policy_url":"www.purdue.edu/registrar/Residency/index.html","pred_degree_awarded":3,"locale":13,"gibill":633,"undergrad_enrollment":33495,"yr":true,"student_veteran":true,"student_veteran_link":"https://sites.google.com/site/purdueveterans/","poe":true,"eight_keys":true,"dodmou":true,"sec_702":true,"vetsuccess_name":null,"vetsuccess_email":null,"credit_for_mil_training":false,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":false,"va_highest_degree_offered":"4-year","retention_rate_veteran_ba":0.944,"retention_all_students_ba":0.9154,"retention_rate_veteran_otb":null,"retention_all_students_otb":null,"persistance_rate_veteran_ba":0.944,"persistance_rate_veteran_otb":null,"graduation_rate_veteran":null,"graduation_rate_all_students":0.7945,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":55100.0,"repayment_rate_all_students":0.780933063,"avg_stu_loan_debt":19500.0,"calendar":"semesters","tuition_in_state":10002,"tuition_out_of_state":28804,"books":1210,"online_all":true,"p911_tuition_fees":null,"p911_recipients":null,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":"regional","accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"complaints_facility_code":1,"complaints_financial_by_fac_code":1,"complaints_quality_by_fac_code":0,"complaints_refund_by_fac_code":0,"complaints_marketing_by_fac_code":0,"complaints_accreditation_by_fac_code":0,"complaints_degree_requirements_by_fac_code":0,"complaints_student_loans_by_fac_code":0,"complaints_grades_by_fac_code":0,"complaints_credit_transfer_by_fac_code":0,"complaints_credit_job_by_fac_code":null,"complaints_job_by_fac_code":0,"complaints_transcript_by_fac_code":0,"complaints_other_by_fac_code":0,"complaints_main_campus_roll_up":1,"complaints_financial_by_ope_id_do_not_sum":1,"complaints_quality_by_ope_id_do_not_sum":0,"complaints_refund_by_ope_id_do_not_sum":0,"complaints_marketing_by_ope_id_do_not_sum":0,"complaints_accreditation_by_ope_id_do_not_sum":0,"complaints_degree_requirements_by_ope_id_do_not_sum":0,"complaints_student_loans_by_ope_id_do_not_sum":0,"complaints_grades_by_ope_id_do_not_sum":0,"complaints_credit_transfer_by_ope_id_do_not_sum":0,"complaints_jobs_by_ope_id_do_not_sum":0,"complaints_transcript_by_ope_id_do_not_sum":0,"complaints_other_by_ope_id_do_not_sum":0,"created_at":"2021-06-10T17:38:18.000Z","updated_at":"2021-06-10T17:38:18.000Z","f1sysnam":"Purdue
        University","f1syscod":118070,"ialias":"Purdue-West Lafayette|Purdue|PU|Purdue-WL","approval_status":null,"school_closing":false,"school_closing_on":null,"school_closing_message":null,"stem_offered":false,"priority_enrollment":true,"online_only":false,"independent_study":false,"distance_learning":true,"address_1":"101
        N Grant Street","address_2":"Purdue Memorial Union Rm 284","address_3":null,"physical_address_1":"101
        N Grant Street","physical_address_2":"Purdue Memorial Union Rm 284","physical_address_3":null,"physical_city":"WEST
        LAFAYETTE","physical_state":"IN","physical_zip":"47906","physical_country":"USA","dod_bah":1455,"approved":true,"vet_tec_provider":false,"closure109":null,"preferred_provider":false,"stem_indicator":false,"campus_type":"Y","parent_facility_code_id":null,"version_id":97,"complies_with_sec_103":null,"solely_requires_coe":null,"requires_coe_and_criteria":null,"count_of_caution_flags":0,"section_103_message":"Contact
        the School Certifying Official (SCO) for requirements","poo_status":"APRVD","hbcu":0,"hcm2":0,"menonly":0,"pctfloan":0.2909,"relaffil":null,"womenonly":0,"institution_search":"PURDUE
        MAIN","rating_count":0,"rating_average":null,"latitude":40.428206,"longitude":-86.914435,"employer_provider":false,"school_provider":true,"vrrap":null,"in_state_tuition_information":null,"bad_address":false,"high_school":false,"chief_officer":null,"ownership_name":null,"distance":null},"branches":[],"extensions":[{"id":4135080,"version":{"number":73,"created_at":"2021-06-10T17:38:18.796Z","preview":false},"institution_type_name":"PUBLIC","facility_code":"11X22514","institution":"ELEANOR
        B SHREVE RESIDENCE HALL","city":"WEST LAFAYETTE","state":"IN","zip":"47906","country":"USA","flight":false,"correspondence":false,"bah":1547.0,"cross":null,"ope":null,"ope6":null,"insturl":null,"vet_tuition_policy_url":null,"pred_degree_awarded":null,"locale":null,"gibill":null,"undergrad_enrollment":null,"yr":tr[...]
